.Navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.Navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.Left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.image {
  width: 28px;
  height: 28px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.Burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.icon {
  width: 36px;
  height: 36px;
}
.Links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.Link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.Link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.Link2 {
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.Right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 767px) {
  .Burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .icon {
    fill: var(--dl-color-gray-white);
  }
  .Links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .Cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
